body {
    font-family: sans-serif;
}

.link-header{
    text-decoration: none;
    color: #1B1BB3;
    background-color: #FFBF00;
    border-radius: 5px;
    font-size: 25px;
}

.link-nav{
    text-decoration: none;
    color: #1B1BB3;
    font-size: 20px;
    padding: 5px;
}

nav{
    background-color: #FFBF00;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

h1{
    text-align: center;
    color: #090974
}

main p{
    font-size: 20px;
}
